
/**
 * Home
 */
body.front {
  #block-views-carrousel-block {
    margin-top: 3em;
    @include zen-grid-item(6, 1);
    .views-row {
      .views-field-title {
        @include zen-grid-item(3,1);
        a {
          @include titulos;
        }
      }
      .views-field-field-imagencarrousel {
        @include zen-grid-item(3, 4);
      }
    }
  }
  #block-views-home-libreqda-block {
    @include zen-clear();
    @include zen-grid-item(3, 1);
    padding-right: 30px;
    .view-content {
      .views-field-title {
        @include zen-grid-item(2, 1);
        font-weight: 700;
      }
      .blog-post-body {
        @include zen-grid-item(4, 3);
      }
      .footer-wrapper {
        @include zen-clear();
        @include zen-grid-item(6, 1);
        @include zen-nested-container();
        .footer-created {
          @include zen-grid-item(2, 1);
        }
        .footer-link {
          @include zen-grid-item(4, 3);
          text-align: right;
        }
      }
    }
    .view-footer {
      @include zen-clear();
      @include zen-grid-item(3,1);
      text-align: center;
    }
  }
  #block-views-libreqda-forums-block {
    @include zen-grid-item(3, 4);
  }
  #content {
    .feed-icon,
    article.node {
      display: none;
    }
  }
}
/** carousel**/
