/**
 * Home theaming
 * mixed structure and apparence
 */
body.front {
  #block-views-carrousel-block {
    margin-top: 3em;
    @include zen-grid-item(6, 1);
    .views_slideshow_cycle_slide {
      width: 100%;
      .views-row {
        width: 100%;
        @include zen-grid-container();
        .views-field-field-texto {
          @include zen-grid-item(3,1);
          .field-content span,
          .field-content p {
            @include texto0;
            font-size: 28px;
            line-height: 36px;
          }
          .lqdaButton {
            @include menu_botones;
            padding: 0px 18px;
            display: inline-block;
            min-width: 100px;
            text-align: center;
            border-radius: 8px;
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            background-color: $amarillo;
            font-weight: 600;
            color: white;
            border-bottom: 2px solid $negro;
            line-height: 30px;
          }

          .lqdaDemo {
            margin-left: 12px;
            background-color: $axul_osc;
          }

        }
        .views-field-field-imagencarrousel {
          @include zen-grid-item(3, 4);
        }
      }
    }
  }
  #lqda-pc {
    background-color: $gris_osc_fondo;
    height: 130px;
    @include zen-clear();
    @include zen-grid-item(6, 1);
    $zen-gutter-width:  60px;
    $zen-gutter-method: padding;
    @include zen-grid-container();
    img {
      @include zen-grid-item(2,3);
      margin-top: -130px;
      position: relative;
      z-index: 10;
      cursor: pointer;
    }
  }
  #lqda-buttons-region {
    background-color: $gris_osc_fondo;
    padding-bottom: 40px;
    margin-bottom: 40px;
    @include zen-clear();
    @include zen-grid-item(6, 1);
    $zen-gutter-width:  60px;
    $zen-gutter-method: padding;
    @include zen-grid-container();
    .lqda-front-button {
      // generic stile for front buttons
      text-align: center;
      color: white;
      & > div {
        width: 90%;
        margin: 0 auto;
      }
      .top-w {
        padding-top: 18px;
      }
      h4 {
        text-transform: uppercase;
        margin: 0px;
        font-size: 18px;
        padding-bottom: 8px;
        padding-top: 12px;
      }
      .bottom-w {
        padding: 12px 0 18px 0;
      }
      .bottom-w .desc-w{
        margin: 0px 18px;
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
      }
    }
    // specific stiles for each button
    .lqda-front-button-1 {
      @include zen-grid-item(1, 1);
      & > div {
        background-color: $morado;
      }
      .bottom-w {
        background-color: $morado_osc;
      }
    }
    .lqda-front-button-2 {
      @include zen-grid-item(1, 2);
      & > div {
        background-color: $azul;
      }
      .bottom-w {
        background-color: $axul_osc;
      }
    }
    .lqda-front-button-3 {
      @include zen-grid-item(1, 3);
      & > div {
        background-color: $amarillo;
      }
      .bottom-w {
        background-color: $amarillo_osc;
      }
    }
    .lqda-front-button-4 {
      @include zen-grid-item(1, 4);
      & > div {
        background-color: $verde;
      }
      .bottom-w {
        background-color: $verde_os;
      }
    }
    .lqda-front-button-5 {
      @include zen-grid-item(1, 5);
      & > div {
        background-color: $rojo;
      }
      .bottom-w {
        background-color: $rojo_osc;
      }
    }
    .lqda-front-button-6 {
      @include zen-grid-item(1, 6);
      & > div { 
        background-color: $naranja;
      }
      .bottom-w {
        background-color: $naranja_osc;
      }
    }
      

  }
  #block-views-home-libreqda-block {
    @include zen-clear();
  }
  #block-views-libreqda-forums-block,
  #block-views-home-libreqda-block {
    & > h2 {
      font-size: 32px;
      width: 100%;
      line-height: 150px;
      vertical-align: middle;
      padding-left: 150px;
      background-image: url('../images/last_blog_entry.png');
      background-position: 0 50%;
      background-repeat: no-repeat;
    }
    @include zen-grid-item(3, 1);
    padding-right: 30px;
    .view-content {
      .views-row {
        @include zen-clear();
        @include zen-grid-item(6, 1);
        @include zen-nested-container();
      }
      .views-field-title {
        @include zen-grid-item(2, 1);
        background-color: $morado;
        height: 150px;
        .field-content {
          font-weight: 700;
          margin: 12px;
          color: white;
          display: block;
          a {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
      .forum.post.body,
      .blog-post-body {
        @include zen-grid-item(4, 3);
        background-color: white;
        padding: 12px;
        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .footer-wrapper {
        @include zen-clear();
        @include zen-grid-item(6, 1);
        @include zen-nested-container();
        .footer-created {
          @include zen-grid-item(4, 1);
          background-color: $gris_aux1;
        }
        .footer-link {
          @include zen-grid-item(2, 5);
          text-align: right;
          background-color: $negro;
        }
      }
      .blog.post.date {
        @include zen-clear();
        @include zen-grid-item(2, 1);
        background-color: $gris_aux1;
      }
      .footer-wrapper .footer-created,
      .forum.post.author span a,
      .blog.post.date span {
        color: white;
        font-size: 12px;
        padding-left: 12px;
      }
      .forum.post.author {
        @include zen-grid-item(2, 3);
        text-transform: uppercase;
        background-color: $gris_aux1;
      }
      .readmore {
        @include zen-grid-item(2, 5);
        background-color: $negro;
      }
      .footer-wrapper .footer-link,
      .readmore {
        background-color: $negro;
        margin-bottom: 22px;
        text-align: right;
        border-radius: 2px;
        a {
          text-transform: uppercase;
          color: white;
          font-weight: 900;
          padding-right: 18px;
          padding-left: 40px;
          background-image: url('../images/ver.svg');
          background-repeat: no-repeat;
          background-position: 0 50%;
        }
      }
    }
    .view-footer {
      @include zen-clear();
      @include zen-grid-item(6,1);
      background-color: $morado;
      border-width: 0 1px 2px 0;
      border-color: $morado_osc;
      border-style: solid;
      text-align: center;
      border-radius: 2px;
      padding-right: 12px;
      text-align: center;
      a {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
      }
    }
  }
  #block-views-libreqda-forums-block {
    & > h2 {
      background-image: url('../images/last_forum_entry.png');
    }
    @include zen-grid-item(3, 4);
    padding-right: 0px;
    .view-content .views-field-title {
      background-color: $verde;
    }
    .view-footer {
      border-color: $verde_os;
      background-color: $verde;
      padding-right: 0;
    }
  }
  #content {
    .feed-icon,
    article.node {
      display: none;
    }
  }
}
/** carousel**/
