body.page-node-9 {
  #main {
    padding-top: 0px;
    #content {
      h1#page-title {
        background-image: url('../images/dona.svg');
        background-repeat: no-repeat;
        background-color: $rojo;
        background-position: 50%;
        text-indent: -9999999999px;
        height: 300px;
        display: block;
        width: 100%;
        margin: 0px;
      }
      article {
      }
    }
  }
}
 
